.container {
    padding: 12px 20px;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: border-color 0.3s;
}

.container:hover {
    border-color: #838383;
}

.container:focus-within {
    border-color: #838383;
}

.input {
    outline: none;
    border: none;
}

.input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.image {
    width: 25px;
    height: 25px;
}

.eye {
    margin-left: auto;
}