.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.6;
    z-index: 1;
}

.profileHeader {
    background: #F3F3F3;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileHeaderImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.input {
    display: none;
}

.profileHeader:hover .profileHeaderLoader {
    opacity: 1;
}

.profileHeaderLoader {
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    padding: 7px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    opacity: 0;
    transition-duration: 0.3s;
}

.button {
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    padding: 7px 22px;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.avatar {
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    width: 100px;
    height: 100px;
    border: 1px solid #E6E6E6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    background: #F3F3F3;
    transition-duration: 0.3s;
    position: relative;
}

.avatarImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.loggedIn:hover {
    background: #000000;
}

.avatar:hover .cameraImg {
    opacity: 1;
}



.cameraImg {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s; 
}

.profileContent {
    padding: 0 240px;
}

.profileContainer {
    transform: translateY(-50px);
}

.profileTitle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* width: 800px; */
}

.name {
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
    margin-bottom: 10px;
    width: 50%;
}

.mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #838383;
    width: 100%;
    width: 50%;
}

.editButton {
    font-family: "Inter", sans-serif;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    margin-left: auto;
}

.img {
    width: 25px;
    height: 25px;
}

.text {
    margin: 0;
    width: 600px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.exitButton {
    font-family: "Inter", sans-serif;
    display: flex;
    gap: 10px;
    padding: 7px 22px;
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
}

@media (height: 980px) {
    .filter {
        display: none;
    }
    .profileContent {
        padding: 0 30px 0 30px;
    }
    .profileContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .profileInfo {
        display: flex;
        flex-direction: column;
    }
    .profileTitle {
        flex-direction: column;
        align-items: flex-start;
    }
        .name {
            order: 1;
        }
    
        .mail {
            order: 2;
            margin-bottom: 10px;
        }
    
        .editButton {
            order: 3;
        }
    .text {
        width: 315px;
    }

}