.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.accountsWrapper {
    flex: 1;
}

.accountsList {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 50px auto 100px auto;
    height: 562px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-bottom: 1px solid #E6E6E6;
}

.accountsList::-webkit-scrollbar {
    display: none;
}

.accountsListTitle {
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
    margin-bottom: 30px;
}

.account {
    padding: 10px 0;
    /* border-top: 1px solid #E6E6E6; */
    border-bottom: 1px solid #E6E6E6;
    display: flex;
    gap: 12px;
    align-items: center;
}

.account:nth-child(2) {
    border-top: 1px solid #E6E6E6;
}

.name {
    font-family: "Inter", sans-serif;
    border: 0;
    padding: 0;
    background: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
}

.email {
    margin-left: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #838383;
}

.avatar {
    width: 50px;
    height: 50px;
    border: 1px solid #E6E6E6;
    border-radius: 50%;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F3F3F3;
}

/* .avatar {
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    width: 100px;
    height: 100px;
    border: 1px solid #E6E6E6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    background: #F3F3F3;
    transition-duration: 0.3s;
    position: relative;
} */