.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.footer {
    margin-top: auto;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid #E6E6E6;
    padding: 23px 0;
    line-height: 160%;
}

.footer span:first-child {
    color: #838383;
}

.footer span:last-child {
    font-weight: 500;
}

.content {
    display: flex;
    justify-content: center;
    background: #F3F3F3;
    flex: 1;
    align-items: center;
}

.auth-form {
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
    background: #FFFFFF;
}

.auth-form span {
    width: 340px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    border: 1px solid #838383;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    padding: 12px 20px;
}

.inputError {
    border: 1px solid red;
}

.button {
    font-family: "Inter", sans-serif;
    background: #D4D4D4;
    color: #F3F3F3;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    border: none;
    border-radius: 5px;
    padding: 12px 0;
    transition-duration: 0.3s;
}

.buttonActive {
    background: #000000;
}


@media (width: 375px) {
    .content {
        background: #FFFFFF;
        align-items: flex-start;
    }

    .auth-form {
        border: none;
    }

    .auth-form span {
        width: 314px;
    }
}



